.questionContainer {
    border: 0.4px solid rgb(226, 226, 226);
    border-radius: 1rem 0.1rem 0.1rem 1rem;
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.cardContainer{
    display: flex;
    flex-direction: column;
}

.title{
    font: 2em sans-serif;
    padding-left: 16px;
}

.qCard {
    padding-top: 2%;
}

.card {
    border: 0.4px solid rgb(226, 226, 226);
    border-radius: 0.4rem;
    padding: 10px;
    margin: 10px;
    min-height: 95px;
    min-width: 240px;
    height: fit-content;
    transition: background-color 0.6s;
}

.hover {
    cursor: pointer;
}

.hover:hover {
    background-color:#cceeff44 ;   
}

.left {
    opacity: 0.5;
    cursor: pointer;
    width: 50px;
    display: flex;
  }

  .left:hover {
    opacity: 1;
  }


  .questionContainer::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
    border-radius: 2rem;
}

.questionContainer::-webkit-scrollbar
{
	background-color: #F5F5F5;
    border-radius: 2rem;
    width: 4px;
    max-height: 200px;
}

.questionContainer::-webkit-scrollbar-thumb
{
	background-color: #cceeff44;
}

.questionContainer::-webkit-scrollbar-corner{
    background-color: transparent;
}